<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="css/app.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header__container container-xl">
        <div class="header__logo">
          <div class="logo"><a href=""><img class="logo__image" src="./images/logo-dark.svg" alt=""/></a>
          </div>
        </div>
        <div class="header__lang order-lg-2">
          <div class="language">
            <div class="language__selector dropdown-list dropdown-list_desktop">
              <div class="language__icon">
                          <svg class="lang-icon">
                            <use xlink:href="images/lang_sprite.svg#Azerbaijan"></use>
                          </svg>
              </div>
              <svg class="language__arrow">
                <use xlink:href="images/sprite.svg#down"></use>
              </svg>
            </div>
            <div class="language__dropdown menu-list">
              <div class="language__mobile-top d-lg-none">
                <div class="language__mobile-heading h4">Language</div>
                <div class="language__mobile-close">
                  <svg>
                    <use xlink:href="images/sprite.svg#close"></use>
                  </svg>
                </div>
              </div>
              <div class="language__items"><a class="language__item language__item_selected" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Azerbaijan</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Azerbaijan"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Bulgaria</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Bulgaria"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">China</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#China"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Czech Republic</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Czech Republic"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Denmark</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Denmark"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Estonia</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Estonia"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Finland</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Finland"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">France</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#France"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Germany</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Germany"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Greece</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Greece"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Turkey</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Turkey"></use>
                              </svg>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="header__menu order-lg-1">
          <div class="main-menu" id="main-menu">
            <div class="main-menu__hamburger d-lg-none">
              <div class="hamburger">
                <div class="hamburger__switcher">
                  <div class="hamburger__icon"><span></span><span></span><span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-menu__container">
              <div class="main-menu__mobile-top d-lg-none"></div>
              <div class="main-menu__items main-menu__items_with-icons">
                <div class="main-menu__item main-menu__item_parent"><a class="main-menu__link" href="#" data-bs-target="#menu-item-0">
                    <svg class="main-menu__link-icon">
                      <use xlink:href="images/sprite.svg#TrainSimple"></use>
                    </svg><span class="main-menu__link-text">Train tickets</span>
                    <svg class="main-menu__link-arrow">
                      <use xlink:href="images/sprite.svg#down"></use>
                    </svg></a>
                  <div class="main-menu__submenu collapse menu-list" id="menu-item-0" data-bs-parent="#main-menu">
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">1</span></a></div>
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">2</span></a></div>
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">3</span></a></div>
                  </div>
                </div>
                <div class="main-menu__item main-menu__item_parent"><a class="main-menu__link" href="#" data-bs-target="#menu-item-1">
                    <svg class="main-menu__link-icon">
                      <use xlink:href="images/sprite.svg#Ticket"></use>
                    </svg><span class="main-menu__link-text">Interrail</span>
                    <svg class="main-menu__link-arrow">
                      <use xlink:href="images/sprite.svg#down"></use>
                    </svg></a>
                  <div class="main-menu__submenu collapse menu-list" id="menu-item-1" data-bs-parent="#main-menu">
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">1</span></a></div>
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">2</span></a></div>
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">3</span></a></div>
                  </div>
                </div>
                <div class="main-menu__item main-menu__item_parent"><a class="main-menu__link" href="#" data-bs-target="#menu-item-2">
                    <svg class="main-menu__link-icon">
                      <use xlink:href="images/sprite.svg#globe"></use>
                    </svg><span class="main-menu__link-text">Travel guide</span>
                    <svg class="main-menu__link-arrow">
                      <use xlink:href="images/sprite.svg#down"></use>
                    </svg></a>
                  <div class="main-menu__submenu collapse menu-list" id="menu-item-2" data-bs-parent="#main-menu">
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">1</span></a></div>
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">2</span></a></div>
                    <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">3</span></a></div>
                  </div>
                </div>
                <div class="main-menu__item"><a class="main-menu__link" href="#">
                    <svg class="main-menu__link-icon">
                      <use xlink:href="images/sprite.svg#ChatsCircle"></use>
                    </svg><span class="main-menu__link-text">Forum</span></a></div>
                <div class="main-menu__item"><a class="main-menu__link" href="#">
                    <svg class="main-menu__link-icon">
                      <use xlink:href="images/sprite.svg#Pencil_Edit"></use>
                    </svg><span class="main-menu__link-text">Blog</span></a></div>
                <div class="main-menu__item"><a class="main-menu__link" href="#">
                    <svg class="main-menu__link-icon">
                      <use xlink:href="images/sprite.svg#Question"></use>
                    </svg><span class="main-menu__link-text">How it works</span></a></div>
                <div class="main-menu__mobile-socials d-lg-none">
                  <div class="socials">
                    <div class="socials__label">Follow us</div>
                    <div class="socials__items"><a class="socials__item socials__item_facebook" href="#">
                        <svg class="socials__icon">
                          <use xlink:href="images/sprite.svg#social_facebook"></use>
                        </svg></a><a class="socials__item socials__item_instagram" href="#">
                        <svg class="socials__icon">
                          <use xlink:href="images/sprite.svg#social_instagram"></use>
                        </svg></a><a class="socials__item socials__item_youtube" href="#">
                        <svg class="socials__icon">
                          <use xlink:href="images/sprite.svg#social_youtube"></use>
                        </svg></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="page">
      <section class="section-hero">
        <div class="section-hero__bg"><img src="images/hero-bg-1.svg"/></div>
        <div class="section-hero__container container-xl">
          <div class="section-hero__content">
            <div class="section-hero__heading h1">Find train routes around the world</div>
            <div class="section-hero__text">We are train enthusiast providing honest content since 1996</div>
          </div>
        </div>
      </section>
      <section class="home-search-route container-xl">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="search-route" id="search-route">
              <div class="search-route__inputs">
                <div class="search-route__input input">
                  <input class="input__item" id="search-route-from" type="text" placeholder="From?" ref="from" v-model="from">
                  <div class="input__icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#map"></use>
                    </svg>
                  </div>
                </div>
                <div class="search-route__swap" @click="swap">
                  <svg>
                    <use xlink:href="images/sprite.svg#ArrowsLeftRight"></use>
                  </svg>
                </div>
                <div class="search-route__input input">
                  <input class="input__item" id="search-route-to" type="text" placeholder="To?" ref="to" v-model="to">
                  <div class="input__icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#map"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <button class="search-route__button button button_red" @click="submit">Search</button>
            </div>
          </div>
        </div>
      </section>
      <section class="home-destinations container-xl">
        <div class="section-title h2">Popular railway destinations</div>
        <div class="destinations-cards">
          <div class="destinations-cards__cards"><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-1.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-2.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-3.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-4.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-1.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-2.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-3.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-4.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-1.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-2.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-3.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-4.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-1.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-2.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-3.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a><a class="destination-card-min" href="/"><img class="destination-card-min__image" src="images/dev/city-4.jpg"/>
              <div class="destination-card-min__col">
                <div class="destination-card-min__from">from City</div>
                <div class="destination-card-min__to">to City</div>
              </div></a>
          </div>
          <div class="destinations-cards__show-more"><a class="button button_arrow" href="#">Show more
              <svg class="button__icon-arrow">
                <use xlink:href="images/sprite.svg#down"></use>
              </svg></a>
          </div>
        </div>
      </section>
      <section class="section-steps">
        <div class="container-xl">
          <div class="section-steps__row row">
            <div class="col-lg-3">
              <div class="section-steps__title h3">3 steps to book your tickets</div>
            </div>
            <div class="col-lg-9">
              <div class="section-steps__items row align-items-center">
                <div class="step-icon col-lg-4">
                  <svg class="step-icon__svg">
                    <use xlink:href="images/sprite.svg#step-01"></use>
                  </svg>
                  <div class="step-icon__text">Choose a direction</div>
                </div>
                <div class="step-icon col-lg-4">
                  <svg class="step-icon__svg">
                    <use xlink:href="images/sprite.svg#step-02"></use>
                  </svg>
                  <div class="step-icon__text">Choose the best route</div>
                </div>
                <div class="step-icon col-lg-4">
                  <svg class="step-icon__svg">
                    <use xlink:href="images/sprite.svg#step-03"></use>
                  </svg>
                  <div class="step-icon__text">Book and buy a ticket</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-where-going container-xl">
        <div class="home-where-going__inner">
          <div class="section-title h2">Where are you going today?</div>
          <div class="links-list links-list_columns-4-2-1">
            <div class="links-list__item"><a class="link" href="#">Tickets to Paris</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Prague</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Berlin</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Rome</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Paris</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Prague</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Berlin</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Rome</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Paris</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Prague</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Berlin</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Rome</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Paris</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Prague</a></div>
            <div class="links-list__item"><a class="link" href="#">Tickets to Berlin</a></div>
          </div>
        </div>
        <div class="booking-card">
          <div class="booking-card__image">
            <!--img(src='').booking-card__image-src--><img class="booking-card__image-logo" src="images/partners/booking.svg">
          </div>
          <div class="booking-card__content">
            <div class="booking-card__text">
              <div class="h4">Негде остановиться?! <br>Более 1 000 000 вариантов на booking.com</div>
            </div>
            <div class="booking-card__button"><a class="button-round-text" href="#">
                <div class="button-round-text__arrow">
                  <svg class="button-round-text__arrow-icon">
                    <use xlink:href="images/sprite.svg#arrow_right"></use>
                  </svg>
                </div>
                <div class="button-round-text__label">Забронировать</div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="home-travel-with container-xl">
        <div class="home-travel-with__title h2">Travel with Rail.сс</div>
        <div class="icon-text-columns">
          <div class="row">
            <div class="col-md-6">
              <div class="icon-text-column">
                <div class="icon-text-column__column">
                  <svg class="icon-text-column__icon">
                    <use xlink:href="images/sprite.svg#travel-1"></use>
                  </svg>
                </div>
                <div class="icon-text-column__column icon-text-column__column_padding">
                  <div class="icon-text-column__title h4">Rail.cc explains how to travel individually by train</div>
                  <div class="icon-text-column__text">
                    <p>The rail travel community. How to buy cheap train tickets. Interrail and Eurail pass information. Find prices and search for scenic travel routes.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="icon-text-column">
                <div class="icon-text-column__column">
                  <svg class="icon-text-column__icon">
                    <use xlink:href="images/sprite.svg#travel-2"></use>
                  </svg>
                </div>
                <div class="icon-text-column__column">
                  <div class="icon-text-column__title h4">Train ticket</div>
                  <div class="icon-text-column__text">
                    <p>How to buy train tickets. Where to find prices. How to travel from A to B. Point to point train ticket information from the rail travel community.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="icon-text-columns__button-row"><a class="button button_red icon-text-columns__button" href="#">Find a route</a>
          </div>
        </div>
      </section>
      <section class="home-advice container-xl">
        <div class="img-r-block">
          <div class="img-r-block-image-desk"><img class="img-r-block-image-desk__src" src="images/advice.svg"></div>
          <div class="img-r-block__content">
            <div class="img-r-block__title section-title h2">Our advice
              <div class="img-r-block-image-mob"><img class="img-r-block-image-mob__src" src="images/advice.svg"></div>
            </div>
            <div class="links-list">
              <div class="links-list__item"><a class="link" href="#">Eurail pass information, help in our forum, travel routes, schedules and night trains</a></div>
              <div class="links-list__item"><a class="link" href="#">How to save reservation fees on Eurorail in Europe</a></div>
              <div class="links-list__item"><a class="link" href="#">Important tips on how to Eurail</a></div>
              <div class="links-list__item"><a class="link" href="#">What is Eurail</a></div>
              <div class="links-list__item"><a class="link" href="#">How to buy a reservation for night trains</a></div>
              <div class="links-list__item"><a class="link" href="#">Which trains are included. Where to buy</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-fw-img-l">
        <div class="section-fw-img-l__container container-xl">
          <div class="section-fw-img-l__main-group">
            <div class="section-fw-img-l-content">
              <div class="section-fw-img-l-content__title h2">Train lines coverage</div>
              <div class="section-fw-img-l-content__intro">Rail Europe sells tickets across Europe and our coverage is increasing all the time.</div>
              <div class="section-fw-img-l-content__text">
                <p>We're official agents for rail and bus operators in the UK, France, Spain, Italy, Germany, Belgium, Austria, Switzerland, Luxembourg and the Netherlands.</p>
              </div>
            </div>
            <div class="section-fw-img-l-image"><img class="section-fw-img-l-image__src" src="images/coverage.svg"></div>
          </div>
          <div class="section-fw-img-l-icons">
            <div class="iconed-label-row row">
              <div class="iconed-label-item col-md-6 col-lg-4">
                <svg class="iconed-label-item__icon">
                  <use xlink:href="images/sprite.svg#suitcase"></use>
                </svg>
                <div class="iconed-label-item__label">Join millions of people who use us every day</div>
              </div>
              <div class="iconed-label-item col-md-6 col-lg-4">
                <svg class="iconed-label-item__icon">
                  <use xlink:href="images/sprite.svg#route"></use>
                </svg>
                <div class="iconed-label-item__label">Travel to thousands of destinations in 45 countries</div>
              </div>
              <div class="iconed-label-item col-md-6 col-lg-4">
                <svg class="iconed-label-item__icon">
                  <use xlink:href="images/sprite.svg#globe-2"></use>
                </svg>
                <div class="iconed-label-item__label">We speak more than 30 languages</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="blog-carousel container-xl">
        <div class="section-title h2">Blog highlights</div>
        <div class="blog-carousel-slider swiper">
          <div class="blog-carousel-wrapper swiper-wrapper">
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-1.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-2.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-3.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-1.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-2.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-3.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-1.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-2.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
            <div class="blog-carousel-slide swiper-slide"><a class="blog-card" href="#">
                <div class="blog-card-image"><img src="images/dev/blog-3.jpg"></div>
                <!--.blog-card-video-->
                <div class="blog-card__date">1st February 2016</div>
                <div class="blog-card__title link">Berlin to Prague by Train</div></a></div>
          </div>
        </div>
        <div class="blog-carousel__button-row"><a class="button button_red blog-carousel__button" href="#">Go to blog</a>
        </div>
      </section>
      <section class="home-routes-links container-xl">
        <div class="section-title h2">Train Routes</div>
        <div class="links-list links-list_columns-4-4-2">
          <div class="links-list__item"><a class="link" href="#">Austria</a></div>
          <div class="links-list__item"><a class="link" href="#">Belgium</a></div>
          <div class="links-list__item"><a class="link" href="#">Bosnia-Herzegovina</a></div>
          <div class="links-list__item"><a class="link" href="#">Bulgaria</a></div>
          <div class="links-list__item"><a class="link" href="#">Croatia</a></div>
          <div class="links-list__item"><a class="link" href="#">Czech Republic</a></div>
          <div class="links-list__item"><a class="link" href="#">Denmark</a></div>
          <div class="links-list__item"><a class="link" href="#">Estonia</a></div>
          <div class="links-list__item"><a class="link" href="#">Austria</a></div>
          <div class="links-list__item"><a class="link" href="#">Belgium</a></div>
          <div class="links-list__item"><a class="link" href="#">Bosnia-Herzegovina</a></div>
          <div class="links-list__item"><a class="link" href="#">Bulgaria</a></div>
          <div class="links-list__item"><a class="link" href="#">Croatia</a></div>
          <div class="links-list__item"><a class="link" href="#">Czech Republic</a></div>
          <div class="links-list__item"><a class="link" href="#">Denmark</a></div>
          <div class="links-list__item"><a class="link" href="#">Estonia</a></div>
          <div class="links-list__item"><a class="link" href="#">Austria</a></div>
          <div class="links-list__item"><a class="link" href="#">Belgium</a></div>
          <div class="links-list__item"><a class="link" href="#">Bosnia-Herzegovina</a></div>
          <div class="links-list__item"><a class="link" href="#">Bulgaria</a></div>
          <div class="links-list__item"><a class="link" href="#">Croatia</a></div>
          <div class="links-list__item"><a class="link" href="#">Czech Republic</a></div>
          <div class="links-list__item"><a class="link" href="#">Denmark</a></div>
          <div class="links-list__item"><a class="link" href="#">Estonia</a></div>
          <div class="links-list__item"><a class="link" href="#">Austria</a></div>
          <div class="links-list__item"><a class="link" href="#">Belgium</a></div>
          <div class="links-list__item"><a class="link" href="#">Bosnia-Herzegovina</a></div>
          <div class="links-list__item"><a class="link" href="#">Bulgaria</a></div>
          <div class="links-list__item"><a class="link" href="#">Croatia</a></div>
          <div class="links-list__item"><a class="link" href="#">Czech Republic</a></div>
          <div class="links-list__item"><a class="link" href="#">Denmark</a></div>
          <div class="links-list__item"><a class="link" href="#">Estonia</a></div>
        </div>
      </section>
      <section class="home-partners container-xl">
        <div class="home-partners__row row">
          <div class="col-lg-4 col-md-7">
            <div class="home-partners__title h2">Partners</div>
            <p>Эти компании доверяют нам своих клиентов, мы гордимся нашей дружбой</p>
          </div>
          <div class="col-lg-8 col-md-5">
            <div class="partners-logos">
              <picture>
                <source srcset="images/partners/partners-group-mobile.svg" media="(max-width: 991.98px)"><img class="partners-logos__groupped-img" src="images/partners/partners-group-desktop.svg">
              </picture>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__row">
        <div class="container-xl">
          <div class="footer__subscription">
            <div class="socials">
              <div class="socials__items"><a class="socials__item socials__item_facebook" href="#">
                  <svg class="socials__icon">
                    <use xlink:href="images/sprite.svg#social_facebook"></use>
                  </svg></a><a class="socials__item socials__item_instagram" href="#">
                  <svg class="socials__icon">
                    <use xlink:href="images/sprite.svg#social_instagram"></use>
                  </svg></a><a class="socials__item socials__item_youtube" href="#">
                  <svg class="socials__icon">
                    <use xlink:href="images/sprite.svg#social_youtube"></use>
                  </svg></a></div>
            </div>
            <div class="footer__subscription-text">
              <div class="h4">Подпишитесь, чтобы не пропустить ничего важного</div>
              <p>Предлагаем проверенные рекомендации и лайфхаки для путешествий на поездах.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__row">
        <div class="container-xl">
          <div class="footer__links-groups row">
            <div class="footer-links-group col-lg-6">
              <div class="footer-links-group__title h4">Interrail</div>
              <div class="footer-links-group__links links-list">
                <div class="links-list__item"><a href="#">Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail Global Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail Select Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail ONE Country Pass</a></div>
                <div class="links-list__item"><a href="#">How to Eurail</a></div>
                <div class="links-list__item"><a href="#">First time Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail train reservations</a></div>
                <div class="links-list__item"><a href="#">Eurail night trains</a></div>
                <div class="links-list__item"><a href="#">Eurail ferries</a></div>
                <div class="links-list__item"><a href="#">Eurail buses</a></div>
                <div class="links-list__item"><a href="#">Search Eurail route</a></div>
              </div>
              <div class="footer-links-group__buttons"><a class="footer-links-group__button button button_red button_thin" href="#">Buy Eurail</a></div>
            </div>
            <div class="footer-links-group col-lg-6">
              <div class="footer-links-group__title h4">Interrail</div>
              <div class="footer-links-group__links links-list">
                <div class="links-list__item"><a href="#">Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail Global Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail Select Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail ONE Country Pass</a></div>
                <div class="links-list__item"><a href="#">How to Eurail</a></div>
                <div class="links-list__item"><a href="#">First time Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail train reservations</a></div>
                <div class="links-list__item"><a href="#">Eurail night trains</a></div>
                <div class="links-list__item"><a href="#">Eurail ferries</a></div>
                <div class="links-list__item"><a href="#">Eurail buses</a></div>
                <div class="links-list__item"><a href="#">Search Eurail route</a></div>
              </div>
              <div class="footer-links-group__buttons"><a class="footer-links-group__button button button_red button_thin" href="#">Buy Eurail</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__row">
        <div class="container-xl">
          <div class="footer__menus row">
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">About Rail.cc</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">How it works</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">Blog</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">F.A.Q.</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">Contact</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">Imprint</a></div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">Train tickets</a></div>
                <div class="links-list__item"><a href="#">Search train route</a></div>
                <div class="links-list__item"><a href="#">Night train</a></div>
                <div class="links-list__item"><a href="#">Train company</a></div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">Train tickets</a></div>
                <div class="links-list__item"><a href="#">Search train route</a></div>
                <div class="links-list__item"><a href="#">Night train</a></div>
                <div class="links-list__item"><a href="#">Train company</a></div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">Train tickets</a></div>
                <div class="links-list__item"><a href="#">Search train route</a></div>
                <div class="links-list__item"><a href="#">Night train</a></div>
                <div class="links-list__item"><a href="#">Train company</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container-xl">
          <div class="footer-copyright">
            <div class="footer-copyright__logo">
              <div class="logo"><a href=""><img class="logo__image" src="./images/logo-light.svg" alt=""/></a>
              </div>
            </div>
            <div class="footer-copyright__link"><a href="#">Cookies</a></div>
            <div class="footer-copyright__text">©1996-2022 rail.cc | railcc ® is a registered trademark</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/vendor.min.js" defer></script>
    <script src="js/app.min.js" defer></script>
  </body>
</html>