<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="css/app.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header__container container-xl">
        <div class="header__logo">
          <div class="logo"><a href=""><img class="logo__image" src="./images/logo-dark.svg" alt=""/></a>
          </div>
        </div>
        <div class="header__lang order-lg-2">
          <div class="language">
            <div class="language__selector dropdown-list dropdown-list_desktop">
              <div class="language__icon">
                          <svg class="lang-icon">
                            <use xlink:href="images/lang_sprite.svg#Azerbaijan"></use>
                          </svg>
              </div>
              <svg class="language__arrow">
                <use xlink:href="images/sprite.svg#down"></use>
              </svg>
            </div>
            <div class="language__dropdown menu-list">
              <div class="language__mobile-top d-lg-none">
                <div class="language__mobile-heading like-h4">Language</div>
                <div class="language__mobile-close">
                  <svg>
                    <use xlink:href="images/sprite.svg#close"></use>
                  </svg>
                </div>
              </div>
              <div class="language__items"><a class="language__item language__item_selected" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Azerbaijan</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Azerbaijan"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Bulgaria</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Bulgaria"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">China</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#China"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Czech Republic</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Czech Republic"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Denmark</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Denmark"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Estonia</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Estonia"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Finland</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Finland"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">France</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#France"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Germany</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Germany"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Greece</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Greece"></use>
                              </svg>
                  </div></a><a class="language__item" href="#">
                  <svg class="language__item-check">
                    <use xlink:href="images/sprite.svg#check"></use>
                  </svg>
                  <div class="language__item-text">Turkey</div>
                  <div class="language__item-icon">
                              <svg class="lang-icon">
                                <use xlink:href="images/lang_sprite.svg#Turkey"></use>
                              </svg>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="header__menu order-lg-1">
          <div class="main-menu" id="main-menu">
            <div class="main-menu__hamburger d-lg-none">
              <div class="hamburger">
                <div class="hamburger__switcher">
                  <div class="hamburger__icon"><span></span><span></span><span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-menu__container">
              <div class="main-menu__mobile-top d-lg-none"></div>
              <div class="main-menu__items main-menu__items_with-icons">
                          <div class="main-menu__item main-menu__item_parent"><a class="main-menu__link" href="#" data-bs-target="#menu-item-0">
                              <svg class="main-menu__link-icon">
                                <use xlink:href="images/sprite.svg#TrainSimple"></use>
                              </svg><span class="main-menu__link-text">Train tickets</span>
                              <svg class="main-menu__link-arrow">
                                <use xlink:href="images/sprite.svg#down"></use>
                              </svg></a>
                            <div class="main-menu__submenu collapse menu-list" id="menu-item-0" data-bs-parent="#main-menu">
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">1</span></a></div>
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">2</span></a></div>
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">3</span></a></div>
                            </div>
                          </div>
                          <div class="main-menu__item main-menu__item_parent"><a class="main-menu__link" href="#" data-bs-target="#menu-item-1">
                              <svg class="main-menu__link-icon">
                                <use xlink:href="images/sprite.svg#Ticket"></use>
                              </svg><span class="main-menu__link-text">Interrail</span>
                              <svg class="main-menu__link-arrow">
                                <use xlink:href="images/sprite.svg#down"></use>
                              </svg></a>
                            <div class="main-menu__submenu collapse menu-list" id="menu-item-1" data-bs-parent="#main-menu">
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">1</span></a></div>
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">2</span></a></div>
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">3</span></a></div>
                            </div>
                          </div>
                          <div class="main-menu__item main-menu__item_parent"><a class="main-menu__link" href="#" data-bs-target="#menu-item-2">
                              <svg class="main-menu__link-icon">
                                <use xlink:href="images/sprite.svg#globe"></use>
                              </svg><span class="main-menu__link-text">Travel guide</span>
                              <svg class="main-menu__link-arrow">
                                <use xlink:href="images/sprite.svg#down"></use>
                              </svg></a>
                            <div class="main-menu__submenu collapse menu-list" id="menu-item-2" data-bs-parent="#main-menu">
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">1</span></a></div>
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">2</span></a></div>
                              <div class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">3</span></a></div>
                            </div>
                          </div>
                          <div class="main-menu__item"><a class="main-menu__link" href="#">
                              <svg class="main-menu__link-icon">
                                <use xlink:href="images/sprite.svg#ChatsCircle"></use>
                              </svg><span class="main-menu__link-text">Forum</span></a></div>
                          <div class="main-menu__item"><a class="main-menu__link" href="#">
                              <svg class="main-menu__link-icon">
                                <use xlink:href="images/sprite.svg#Pencil_Edit"></use>
                              </svg><span class="main-menu__link-text">Blog</span></a></div>
                          <div class="main-menu__item"><a class="main-menu__link" href="#">
                              <svg class="main-menu__link-icon">
                                <use xlink:href="images/sprite.svg#Question"></use>
                              </svg><span class="main-menu__link-text">How it works</span></a></div>
                <div class="main-menu__mobile-socials d-lg-none">
                  <div class="socials">
                    <div class="socials__label">Follow us</div>
                    <div class="socials__items"><a class="socials__item socials__item_facebook" href="#">
                        <svg class="socials__icon">
                          <use xlink:href="images/sprite.svg#social_facebook"></use>
                        </svg></a><a class="socials__item socials__item_instagram" href="#">
                        <svg class="socials__icon">
                          <use xlink:href="images/sprite.svg#social_instagram"></use>
                        </svg></a><a class="socials__item socials__item_youtube" href="#">
                        <svg class="socials__icon">
                          <use xlink:href="images/sprite.svg#social_youtube"></use>
                        </svg></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="page-content">
      <section class="section-hero">
        <div class="section-hero__bg"><img src="images/hero-bg-1.svg"/></div>
        <div class="section-hero__container container-xl">
          <div class="section-hero__content">
            <div class="section-hero__heading like-h1">Find train routes around the world</div>
            <div class="section-hero__text">We are train enthusiast providing honest content since 1996</div>
          </div>
        </div>
      </section>
      <section class="index-search-route container-xl">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="search-route" id="search-route">
              <div class="search-route__inputs">
                <div class="search-route__input input">
                  <input class="input__item" id="search-route-from" type="text" placeholder="From?" ref="from" v-model="from">
                  <div class="input__icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#map"></use>
                    </svg>
                  </div>
                </div>
                <div class="search-route__swap" @click="swap">
                  <svg>
                    <use xlink:href="images/sprite.svg#ArrowsLeftRight"></use>
                  </svg>
                </div>
                <div class="search-route__input input">
                  <input class="input__item" id="search-route-to" type="text" placeholder="To?" ref="to" v-model="to">
                  <div class="input__icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#map"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <button class="search-route__button button button_red" @click="submit">Search</button>
            </div>
          </div>
        </div>
      </section>
      <section class="index-popular-dests container-xl" style="padding-block: 64px;"></section>
      <!--include sections/_advantages-->
      <!--include sections/_breadcrumbs-->
      <!--include sections/_main-routes-->
      <!--include sections/_popular-connections-->
      <!--include sections/_route-detailed-->
      <!--include sections/_following-list-mobile-->
      <!--include sections/_blog-slider-->
      <!--include sections/_partners-slider-->
    </main>
    <footer class="footer">
      <div class="footer__row">
        <div class="container-xl">
          <div class="footer__subscription">
            <div class="socials">
              <div class="socials__items"><a class="socials__item socials__item_facebook" href="#">
                  <svg class="socials__icon">
                    <use xlink:href="images/sprite.svg#social_facebook"></use>
                  </svg></a><a class="socials__item socials__item_instagram" href="#">
                  <svg class="socials__icon">
                    <use xlink:href="images/sprite.svg#social_instagram"></use>
                  </svg></a><a class="socials__item socials__item_youtube" href="#">
                  <svg class="socials__icon">
                    <use xlink:href="images/sprite.svg#social_youtube"></use>
                  </svg></a></div>
            </div>
            <div class="footer__subscription-text">
              <div class="like-h4">Подпишитесь, чтобы не пропустить ничего важного</div>
              <p>Предлагаем проверенные рекомендации и лайфхаки для путешествий на поездах.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__row">
        <div class="container-xl">
          <div class="footer__links-groups row">
            <div class="footer-links-group col-lg-6">
              <div class="footer-links-group__title like-h4">Interrail</div>
              <div class="footer-links-group__links links-list">
                <div class="links-list__item"><a href="#">Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail Global Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail Select Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail ONE Country Pass</a></div>
                <div class="links-list__item"><a href="#">How to Eurail</a></div>
                <div class="links-list__item"><a href="#">First time Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail train reservations</a></div>
                <div class="links-list__item"><a href="#">Eurail night trains</a></div>
                <div class="links-list__item"><a href="#">Eurail ferries</a></div>
                <div class="links-list__item"><a href="#">Eurail buses</a></div>
                <div class="links-list__item"><a href="#">Search Eurail route</a></div>
              </div>
              <div class="footer-links-group__buttons"><a class="footer-links-group__button button button_red button_thin" href="#">Buy Eurail</a></div>
            </div>
            <div class="footer-links-group col-lg-6">
              <div class="footer-links-group__title like-h4">Interrail</div>
              <div class="footer-links-group__links links-list">
                <div class="links-list__item"><a href="#">Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail Global Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail Select Pass</a></div>
                <div class="links-list__item"><a href="#">Eurail ONE Country Pass</a></div>
                <div class="links-list__item"><a href="#">How to Eurail</a></div>
                <div class="links-list__item"><a href="#">First time Eurail</a></div>
                <div class="links-list__item"><a href="#">Eurail train reservations</a></div>
                <div class="links-list__item"><a href="#">Eurail night trains</a></div>
                <div class="links-list__item"><a href="#">Eurail ferries</a></div>
                <div class="links-list__item"><a href="#">Eurail buses</a></div>
                <div class="links-list__item"><a href="#">Search Eurail route</a></div>
              </div>
              <div class="footer-links-group__buttons"><a class="footer-links-group__button button button_red button_thin" href="#">Buy Eurail</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__row">
        <div class="container-xl">
          <div class="footer__menus row">
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">About Rail.cc</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">How it works</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">Blog</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">F.A.Q.</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">Contact</a></div>
                <div class="links-list__item links-list__item_bold"><a href="#">Imprint</a></div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">Train tickets</a></div>
                <div class="links-list__item"><a href="#">Search train route</a></div>
                <div class="links-list__item"><a href="#">Night train</a></div>
                <div class="links-list__item"><a href="#">Train company</a></div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">Train tickets</a></div>
                <div class="links-list__item"><a href="#">Search train route</a></div>
                <div class="links-list__item"><a href="#">Night train</a></div>
                <div class="links-list__item"><a href="#">Train company</a></div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="links-list">
                <div class="links-list__item links-list__item_bold"><a href="#">Train tickets</a></div>
                <div class="links-list__item"><a href="#">Search train route</a></div>
                <div class="links-list__item"><a href="#">Night train</a></div>
                <div class="links-list__item"><a href="#">Train company</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container-xl">
          <div class="footer-copyright">
            <div class="footer-copyright__logo">
              <div class="logo"><a href=""><img class="logo__image" src="./images/logo-light.svg" alt=""/></a>
              </div>
            </div>
            <div class="footer-copyright__link"><a class="link" href="#">Cookies</a></div>
            <div class="footer-copyright__text">©1996-2022 rail.cc | railcc ® is a registered trademark</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/vendor.min.js" defer></script>
    <script src="js/app.min.js" defer></script>
  </body>
</html>