.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 0 12px;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all .16s ease;

    &:focus:not(:active) {
        outline: 1px solid var(--link);
    }

    &:disabled,
    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    &_orange {
        background: var(--orange);

        &:hover {
            background: #EC7A30;
        }

        &:active {
            background: #E6621F;
        }
    }

    &_green {
        background: var(--green);

        &:hover {
            background: #50A444;
        }

        &:active {
            background: #449A39;
        }
    }


    &__icon {
        fill: currentColor;
    }
}