.following-list {
    @include desktop {
        margin-bottom: 48px;
    }

    @include desktop-min {
        padding-left: 40px;
    }

    &__title {
        margin: 0 0 24px;
    }

    &__items {

    }

    &-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &__title {
            margin: 0;
        }

        &__text {
            margin-top: 8px;
            color: var(--grey);
        }

        &__link {
            margin-top: 4px;
        }
    }
}