.footer-menu {
    & > &__item {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--dark);

        @include desktop-min {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__submenu {
        margin-top: 16px;
        column-count: 2;

        @include tablet-min {
            column-count: 3;
        }

        @include desktop-min {
            column-count: unset;
        }

        .footer-menu__item {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--grey);
        }
    }
}