.route-stage {
    position: relative;

    &:before {
        @include desktop-min {
            content: '';
            position: absolute;
            top: 0;
            left: 17px;
            bottom: 0;
            display: block;
            border-right: 2px dashed var(--grey-light);
            z-index: 0;
        }
    }
    
    &__title-group {
        display: flex;
        align-items: flex-start;
        column-gap: 16px;

        @include desktop-min {
            position: relative;
            column-gap: 32px;
            z-index: 1;
        }
    }

    &__title {
        span {
            color: var(--link);
        }
    }

    &__num {
        flex-shrink: 0;
        width: 36px;
        height: 32px;
        border-radius: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
        text-align: center;
        background: var(--green);

        @include desktop-min {
            height: 38px;
            font-size: 22px;
            line-height: 38px;
        }
    }

    &__content {
        margin-top: 16px;

        @include desktop-min {
            padding-left: 68px;
            margin-top: 24px;
        }
    }

    &__text {
        position: relative;
        color: var(--grey);

        &.part-hidden {
            height: 5em;
            padding-bottom: .5em;
            overflow: hidden;

            &:after {
                content: '';
                display: block;
                height: 1.5em;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: var(--light-blue);
                z-index: 1;
            }

            .show-more {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
            }
        }

        .show-more {
            margin-top: 8px;
        }
    }

    &__booking {
        margin-top: 32px;

        @include desktop-min {
            margin-top: 48px;
        }

        &-list {
            margin-top: 24px;

            @include desktop-min {
                margin-top: 40px;
            }
        }
    }
}