.route-card {
    padding: 20px;
    background: var(--light-blue);

    @include desktop-min {
        padding: 24px;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__head {
        width: max-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #ffffff;
        padding: 2px 8px;
        margin-bottom: 16px;
        background: var(--green);
        border-radius: 2px;
    }
}