.search-route {
    @include sm {
        padding: 20px 20px 24px;
        background: linear-gradient(300.32deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.04) 100.24%);
        backdrop-filter: blur(16px);
        border: 1px solid rgba(255, 255, 255, 0.04);
    }

    @include xl {
        padding: 32px 32px 40px;
    }

    &__title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 16px;

        @include xl {
            margin-bottom: 24px;
        }
    }


    &-form {
        &__input-group {
            position: relative;

            .input-item {
                position: relative;

                &:nth-child(1) {
                    .input {
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &:nth-child(2) {
                    margin-top: -1px;

                    .input {
                        border-top-right-radius: 0;
                        border-top-left-radius: 0;
                    }
                }
            }

            .input {
                &:focus {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        &__swap {
            $swapBtn: &;

            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            margin: auto;
            border-radius: 50%;
            border: 1px solid var(--grey-light);
            outline: 0;
            background: #fff;
            z-index: 2;

            &:hover {
                background: var(--green);
                border-color: var(--green);

                #{$swapBtn}-icon {
                    fill: #fff;
                }
            }

            &:focus-visible {
                border: 1px solid var(--link);
            }

            &:active {
                background: #449A39;
                border-color: #449A39;

                #{$swapBtn}-icon {
                    fill: #fff;
                }
            }

            &-icon {
                width: 24px;
                height: 24px;
                fill: var(--green);
                transition: all .2s ease;
            }
        }

        &__button {
            width: 100%;
            margin-top: 16px;

            @include sm {
                height: 48px;
            }
        }

        .results-list {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            background: #fff;
            box-shadow: 0 4px 60px rgba(26, 41, 20, 0.4);
            border-radius: 2px;
            z-index: 10;

            &__item {
                display: block;
                padding: 12px 20px;
                color: var(--dark);
                border-bottom: 1px solid var(--grey-light);
                cursor: pointer;
                transition: all .2s ease;

                &:hover,
                &_selected {
                    background-color: var(--light-blue);
                }

                &_highlight {
                    color: var(--green);
                    background: none;
                }
            }
        }
    }
}

