.search-route {
  display: flex;
  align-content: center;
  gap: 12px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(96, 82, 72, 0.08);
  border-radius: 8px;

  @include md-max {
    flex-direction: column;
  }

  &__inputs {
    position: relative;
    display: flex;
    flex-grow: 1;
    gap: 12px;

    @include md-max {
      flex-direction: column;
    }
  }

  &__input {
    position: relative;
    flex-grow: 1;

    @include md-max {
      background-color: var(--beige);
      border-radius: 4px;
    }

    &:first-child {
      @include md-max {
        padding-right: 52px;
        z-index: 2;
      }
    }
  }

  &__swap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background: var(--beige);
    border: 1px solid var(--beige);
    border-radius: 4px;
    cursor: pointer;
    transition: all $transition_buttons;

    &:hover {
      background-color: var(--white);
    }

    &:active {
      background-color: #CFC1B8;
      border-color: #CFC1B8;
    }

    @include md-max {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }

    &.disabled,
    &[disabled] {
      color: #CFC1B8;
      pointer-events: none;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__button {
    width: 100%;
    flex-shrink: 0;

    @include md {
      width: 200px;
    }
  }

  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

