.socials {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        color: var(--white);
        border-radius: 50%;

        &_facebook {
            background-color: #1877F2;
        }

        &_instagram {
            background-color: #EC3183;
        }

        &_youtube {
            background-color: #FF0302;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}