.blog-slider {
    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        @include desktop-min {
            margin-top: 32px;
        }
    }

    &__button {
        @include tablet {
            width: 100%;
        }
    }
}