.main-routes {

    @include desktop-min {
        margin-bottom: 112px;
    }

    p {
        color: var(--grey);
    }

    &__title {
        margin: 0 0 8px;
    }

    &__list {
        margin-top: 24px;
        margin-bottom: 24px;

        @include desktop-min {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    &__card {
        padding: 20px;
        background: var(--light-blue);

        @include desktop-min {
            padding: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        .route-path {

        }
    }
}