.route-detailed {
    padding-top: 48px;
    padding-bottom: 48px;
    background: var(--light-blue);

    @include desktop-min {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .route-path {
        &__head {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            padding-left: 12px;
            padding-right: 12px;

            @include desktop-min {
                font-size: 22px;
                line-height: 38px;
                margin-bottom: 20px;
            }
        }

        &__route {
            @include desktop-min {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;

                span {
                    column-gap: 12px;

                    &:not(:last-child) {
                        margin-right: 12px;

                        &:after {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }

    &__stages {
        margin-top: 48px;

        @include desktop-min {
            margin-top: 60px;
        }
    }

    .route-stage {
        &:not(:last-child) {
            padding-bottom: 48px;

            @include desktop-min {
                padding-bottom: 140px;
            }
        }
    }
}