include ../mixins/_card-slide

section.blog-slider.section.container-xl
  .slider
    .slider__title
      .blog-slider__title.like-h2 Blog
      .swiper-buttons
        .swiper-button-prev
        .swiper-button-next

    .slider__element.swiper
      .swiper-wrapper
        +card-slide('images/slide1.jpg', '1st February 2016', 'title1')
        +card-slide('images/slide2.jpg', '1st February 2016', 'title2')
        +card-slide('images/slide1.jpg', '1st February 2016', 'title1')
        +card-slide('images/slide2.jpg', '1st February 2016', 'title2')
        +card-slide('images/slide2.jpg', '1st February 2016', 'title2')
        +card-slide('images/slide2.jpg', '1st February 2016', 'title2')

      .swiper-pagination

  .blog-slider__buttons
    a(href="").blog-slider__button.button.button_orange Go to blog page