section.breadcrumbs.container-xl
  .breadcrumbs__list
    .breadcrumbs__item
      a(href="").link Home
    .breadcrumbs__item
      a(href="").link Train Tickets
    .breadcrumbs__item
      span Berlin To London By Train