include ../mixins/_route-path

section.main-routes.section.container-xl
  .row
    .col-xl-8
      h2.main-routes__title There are two main routes
      .main-routes__undertitle
        p Compare them and decide which one feeds your needs best

      .main-routes__list
        .main-routes__card
          +route-path(1, ['Berlin, Germany','Paris, France','London, United Kingdom','Paris, France','Berlin, Germany'])
        .main-routes__card
          +route-path(2, ['Berlin, Germany','Paris, France','London, United Kingdom','Paris, France','Berlin, Germany'])

      .main-routes__text
        p To travel by train from Berlin in Germany to London in the United Kingdom you have two main routes. First you travel from Berlin by ICE/TGV/Thalys train to either Paris (France) or Brussels (Belgium). In Paris (France) or Brussels (Belgium) you change to the direct Eurostar train to London (United Kingdom). From London continue to your final destination.

    .col-xl-4.d-none.d-xl-block
      include ../components/_following-list