
include ../mixins/_route-stage

section.route-detailed
  .container-xl
    .row
      +route-path(1, ['Berlin, Germany','Paris, France','London, United Kingdom','Paris, France','Berlin, Germany']).col-xl-9

    .route-detailed__stages
      +route-stage('1', ' Berlin (Germany)', ' Paris (France)')
      +route-stage('2', ' Berlin (Germany)', ' Paris (France)')