.language.d-none.d-xl-block
  .language__selector(data-bs-toggle="dropdown")
    img(src="images/lang-ru.jpg", alt="").language__icon
    +svg("arrow-dropdown").language__arrow
  .language__dropdown.dropdown-menu.dropdown-menu-end
    .language__items
      each lang in langs
        a(href="").language__item= lang