mixin mainMenuItem(menu)
  each sub, main in menu
    if sub
      .main-menu__item.main-menu__item_parent
        a(href="")= main
          +svg("arrow-dropdown").main-menu__arrow
        .main-menu__submenu
          each item in sub
            .main-menu__item
              a(href="")= item
    else
      .main-menu__item
        a(href="")= main

.main-menu-wrapper.d-none.d-xl-block
  .main-menu
    +mainMenuItem(menu1)
    +mainMenuItem(menu5)
    +mainMenuItem(menu2)
    +mainMenuItem({'Forum': false})
    +mainMenuItem({'Blog': false})