mixin mobileMenuItem(menu)
  each sub, main in menu
    if sub
      .mobile-menu__item.mobile-menu__item_parent
        a(href="")= main
          +svg('arrow-mobile-menu').mobile-menu__arrow
        .mobile-menu__submenu
          .mobile-menu__submenu-top
            +svg('arrow-mobile-menu-back').mobile-menu__submenu-back
            a(href="") Train tickets
          each item in sub
            .mobile-menu__item
              a(href="")= item
    else
      .mobile-menu__item
        a(href="")= main

mixin mobileMenuItemLang(langs)
  .mobile-menu__item.mobile-menu__item_parent
    a(href="")
      span.mobile-menu__language-label
        img(src="images/lang-ru.jpg", alt="")
        | Russian
      +svg('arrow-mobile-menu').mobile-menu__arrow
    .mobile-menu__submenu
      .mobile-menu__submenu-top
        +svg('arrow-mobile-menu-back').mobile-menu__submenu-back
        span Language
      each lang in langs
        .mobile-menu__item
          a(href="")
            span.mobile-menu__language-label
              img(src="images/lang-ru.jpg", alt="")
              | lang

.mobile-menu-overlay
.mobile-menu
  .mobile-menu__top
    .logo
      a(href="")
        img(src="./images/logo-mobile.svg", alt="").logo__image
  .mobile-menu__content
    .mobile-menu__items
      +mobileMenuItem(menu1)
      +mobileMenuItem(menu5)
      +mobileMenuItem(menu2)
      +mobileMenuItem({'Forum': false})
      +mobileMenuItem({'Blog': false})
      +mobileMenuItemLang(['Russian', 'Russian', 'Russian'])

      .mobile-menu__socials
        include ../components/_socials