#search-route.search-route
  .search-route__inputs
    .search-route__input.input
      input(id="search-route-from" type="text" placeholder='From?' ref="from" v-model='from').input__item
      .input__icon
        +svg('map')
    .search-route__swap(@click="swap")
      +svg('ArrowsLeftRight')
    .search-route__input.input
      input(id="search-route-to" type="text" placeholder='To?' ref="to" v-model='to').input__item
      .input__icon
        +svg('map')
  button(@click="submit").search-route__button.button.button_red Search