.socials
  .socials__label Follow us
  .socials__items
    a(href="").socials__item
      +svg('soc-instagram').socials__icon
    a(href="").socials__item
      +svg('soc-facebook').socials__icon
    a(href="").socials__item
      +svg('soc-youtube').socials__icon