extends ./layout/_layout

block variables
  - var title = 'Главная'

block content
  include sections/_hero
  include sections/_advantages
  include sections/_breadcrumbs
  include sections/_main-routes
  include sections/_popular-connections

  include sections/_following-list-mobile