mixin card-slide(img, date, title)
  a(href="").card-slide.swiper-slide
    .card-slide__image
      img(src=img, alt="")
    if date
      .card-slide__date= date
    if title
      .card-slide__title= title