mixin following-list-item(title, text, link)
  .following-list-item.col-sm-6.col-xl-12
    h4.following-list-item__title= title
    .following-list-item__text= text
    .following-list-item__link
      a(href="").link= link