header.header
  .header__container.container-xl
    .header__logo
      +logo('logo')

    .header__menu
      include ../components/_main-menu

    .header__right
      include ../components/_language
      include ../components/_hamburger
      include ../components/_mobile-menu
