header.header
  .header__container.container-xl
    .header__logo
      +logo('logo-dark')

    .header__lang.order-lg-2
      include _language

    .header__menu.order-lg-1
      include _main-menu
